<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'shared/header' %>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <%= render partial: 'shared/flashes' %>
          <%= yield %>
        </div>
      </div>

      <footer>
        <p>Bruno <%= Date.today.year %></p>
      </footer>
    </div>
  </body>
</html>
